@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

body {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
